*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("https://source.unsplash.com/1200x600/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #d3d2d2;
    left: auto;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button{
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;  
    margin: 15px 5px;  
    transition: opacity 0.3s ease-in-out;
}
button:hover{
    opacity: 0.7;
}
button:active{
    opacity: 0.4;
}
img{
    height: 30px;
    border-radius: 50%;
}
.jogada {
    font-size: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}


p{
    font-weight: bold;
    margin-bottom: 5px;
}

.suaPontuacao span{
    color: #041daa;
}

.pontuacaoPC span{
    color: #ce0c06;
}

